[train] #train parameters
epoch = 40
batch_size = 4
qa_num = 2

reader_num = 1

optimizer = adamw
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 1024

bert_model = /data/disk1/private/xcj/LegalBert/src/PLMConfig/roberta-converted-lfm/
token_model = hfl/chinese-roberta-wwm-ext

[eval] #eval parameters
batch_size = 4

reader_num = 1

[distributed]
use=False

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = ArgExt
train_data = /data/disk1/private/xcj/DuIE/data/Doc-EE/duee_fin_train.json/duee_fin_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = ArgExt
valid_data = /data/disk1/private/xcj/DuIE/data/Doc-EE/duee_fin_dev.json/duee_fin_dev.json

test_dataset_type = ArgExtTest
test_formatter_type = ArgExt
test_data = /data/disk1/private/xcj/DuIE/data/Doc-EE/duee_fin_test1.json/duee_fin_test1.json

schema_path = /data/disk1/private/xcj/DuIE/data/Doc-EE/duee_fin_schema/duee_fin_event_schema.json
pred_type = /data/disk1/private/xcj/DuIE/result/predict/EventCls-fin.json

[model] #model parameters
model_name = ArgExt


[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/DuIE/model
model_name = ArgExt-fin-1e-5

tensorboard_path = /data/disk1/private/xcj/DuIE/tensorboard

output_function = out1

tqdm_ncols = 150
