[train] #train parameters
epoch = 16
batch_size = 2

reader_num = 4

optimizer = adamw
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 1024

bert_model = /data/disk1/private/xcj/LegalBert/src/PLMConfig/roberta-converted-lfm/
# bert_model = hfl/chinese-roberta-wwm-ext
token_model = hfl/chinese-roberta-wwm-ext

[eval] #eval parameters
batch_size = 4

reader_num = 4

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = EventCls
train_data = /data/disk1/private/xcj/DuIE/data/Sent-EE/duee_train.json/duee_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = EventCls
valid_data = /data/disk1/private/xcj/DuIE/data/Sent-EE/duee_dev.json/duee_dev.json

test_dataset_type = JsonFromFiles
test_formatter_type = EventCls
test_data = /data/disk1/private/xcj/DuIE/data/Sent-EE/duee_test1.json/duee_test1.json

schema_path = /data/disk1/private/xcj/DuIE/data/Sent-EE/duee_schema/duee_event_schema.json

[model] #model parameters
model_name = EventCls


[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/DuIE/model
model_name = EventCls-fin

tensorboard_path = /data/disk1/private/xcj/DuIE/tensorboard

output_function = out1

tqdm_ncols = 150
